@charset "UTF-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
	font-family: "Source Sans Pro", Arial;
	font-weight: 400;
}

h2 {
	font-family: "Source Sans Pro", Arial;
	font-weight: 700;
}

.header_start {
	height: 150px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
	transition: height 0.3s linear 0s, padding 0.3s linear 0s;
	background-color: transparent;
	
}

.header_later {
	height: 70px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
	transition: height 0.3s linear 0s;
	border-bottom: 1px solid rgb(120, 120, 120);
	background-color: white;	
}

.MenuArea {
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

/*.Extra {
	height: 100vh;
	width: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: green;
	z-index: 1;
}*/

.MenuOpen_start {
	height: 100vh;
	width: 590px;
	position: fixed;
	right: 0px;
	top: 0px;
	/*z-index: 1;*/
	background-color: white;
	display: none;
}

.MenuText {
	width: 430px;
	height:434px;
	position: absolute;
	top: 140px;
	right: 80px;
	
}

.MenuItem {
	line-height: 30px;
	padding-top: 19px;
	padding-bottom: 19px;
	width: 288px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid rgb(179, 179, 179);
	border-bottom: 1px solid rgb(179, 179, 179);
	text-align: center;
	font-size: 24px;
	color: rgb(128, 128, 128);
	
}

.MenuItemFirst {
	padding-top: 0px;
	border-top: 0 none;
	color: #550355;
	text-decoration: none;
}

.MenuItemLast {
	border-bottom: 0 none;
	padding-bottom: 0px;
}

.MenuItem a {
	text-decoration: none;
	color: rgb(128, 128, 128);
}

.MenuItemFirst a {
	text-decoration: none;
	color: #550355;
}

.MenuCloseButton {
	height: 22.627px;
	width: 22.627px;
	position: fixed;
	right: 634px;
	top: 64px;
	z-index: 1;
	display: none;
	cursor: pointer;
}

.MenuCloseButton >div {
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: white;
	left: -3.67px;
	top: 10.31px;
}

.MenuCloseButton > div:first-child {
	transform: rotate(45deg);
}

.MenuCloseButton > div:last-child {
	transform: rotate(-45deg);
}


.logo_start {
	position: absolute; 
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	width:160px;
	height: 70px;
	padding-bottom: 12.5px;
	padding-top: 12.5px;
	padding-left: 15px;
	padding-right: 15px;
}

.logo_later {
	position: absolute;
	left: 50px;
	top: 50%;
	transform: translateY(-50%);
	background-color: white;
	width: 130px;
	height: 45px;
	padding: 0px;	
}

.passbild1 {
	position: relative;
	top: 150px;
	left: 40px;
}

.ButtonGroup {
	/*position: absolute;*/
	width: 250px;
	height: 50px;	
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
	/*display: flex;
	transform: translateY(-50%);*/
	/*top: 50%; */
}

.ButtonGroup ul li {
	display: inline;
}

.phoneButton, .emailButton {
	cursor: pointer;
}

.phoneNumberArea {
	height: 30vh;
	width: 600px;
	position: fixed;	
	top: 0px;
	left: 50%;
	margin-left: -300px;
	background-color: rgb(209, 209, 103);
	display: none;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: blue;
	padding-top: 30px;
	line-height: 40px;
}

.firstLinePhoneInfo {
	border-bottom: 1px solid rgb(179, 179, 179);
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.phoneNumberAreaCloseButton {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	opacity: 0.3;
	cursor: pointer;
}

.phoneNumberAreaCloseButton:hover {
	opacity: 1;
}

.phoneNumberAreaCloseButton:before, .phoneNumberAreaCloseButton:after {
  position: absolute;
  left: 18px;
  content: ' ';
  height: 41px;
  width: 2px;
  background-color: black;;
}
.phoneNumberAreaCloseButton:before {
  transform: rotate(45deg);
}
.phoneNumberAreaCloseButton:after {
  transform: rotate(-45deg);
}


.emailFormArea {
	height: 30vh;
	width: 600px;
	position: fixed;	
	top: 0px;
	left: 50%;
	margin-left: -300px;
	background-color: rgb(209, 209, 103);
	display: none;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: blue;
	padding-top: 30px;
	line-height: 40px;
}

.firstLineEmailInfo {
	border-bottom: 1px solid rgb(179, 179, 179);
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.emailFormAreaCloseButton {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	opacity: 0.3;
	cursor: pointer;
}

.emailFormAreaCloseButton:hover {
	opacity: 1;
	
}

.emailFormAreaCloseButton:before, .emailFormAreaCloseButton:after {
  position: absolute;
  left: 18px;
  content: ' ';
  height: 41px;
  width: 2px;
  background-color: black;;
}
.emailFormAreaCloseButton:before {
  transform: rotate(45deg);
}
.emailFormAreaCloseButton:after {
  transform: rotate(-45deg);
}





.MenuButton {
	position: absolute;
	right: 40px;
	transform: translateY(-50%);
	top: 50%;
	display: flex;
	height: 18.5px;
	width: 31px;
	cursor: pointer;
}

.MenuButtonLine {
	
	width: 30px;
	height: 3px;
	background-color: white;	
}

.MenuButtonLine1 {
	position: absolute;
	top: 0px;	
}

.MenuButtonLine2 {
	position: absolute;
	top: 8px;		
}

.MenuButtonLine3 {
	position: absolute;
	top: 16px;		
}

.MenuButtonLine_later {
	background-color: #550355;
}

.background1 {
	background-image: url(../img/milkyway.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0px;
	position: relative;
}

.background2 {
	background-image: url(../img/water.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0px;
	position: relative;
}

.background3 {
	background-image: url(../img/codeonscreen.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0px;
	position: relative;
}

.background4 {
	background-image: url(../img/Moldawienbilder/20180506_110701.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	margin: 0px;
	position: relative;
}




.intro {
	display: inline-block;
	position: absolute; 	
	font-size: 19px;	
	 /*background: -moz-linear-gradient(top, rgba(140,185,65,1) 0%, rgba(140,185,65,1) 50%, rgba(140,185,65,0.5) 85%, rgba(140,185,65,0) 100%); *//* FF3.6-15 */
   /* background: -webkit-linear-gradient(top, rgba(140,185,65,1) 0%,rgba(140,185,65,1) 50%,rgba(140,185,65,0.5) 85%,rgba(140,185,65,0) 100%); *//* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to bottom, rgba(140,185,65,1) 0%,rgba(140,185,65,1) 50%,rgba(140,185,65,0.5) 85%,rgba(140,185,65,0) 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cb941', endColorstr='#008cb941',GradientType=0 ); IE6-9 */
	background: #550355;
	width: 30%;
	height: 100vh;	
	
	color: white;
	left: 63.125%;
	top: 0px;
	text-align: left;
	padding-left: 50px;
}

.intro h2{
	font-size: 36;
}

.textInIntro {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 10.4%;
	width: 80%;
}

.buttonReferences {	
	text-align: center;
	font-weight: 500;
	font-size: 17px;	
	border: 1px solid white;	
	width: 180px;
	height: 45px;
	line-height: 45px;
	/*left: 50px;*/
}

.buttonReferences a{
	color: white;
	text-decoration: none;

}

.SliderBar1 {
	position: absolute;
	left: 42.8%;
	top: 95.3%;
	width: 70px; 
	height: 2px;
	background-color: white;
}

.SliderBar2 {
	position: absolute;
	left: 47.8%;
	top: 95.3%;
	width: 70px;
	height: 2px;
	background-color: white;
}

.SliderBar3 {
	position: absolute;
	left: 52.8%;
	top: 95.3%;
	width: 70px;
	height: 2px;
	background-color: white;
}

.activeSliderElement {
	background-color: #550355;
}

.textOnPage2 {
	/*position: absolute;
	top: 119.5px;
	/*margin: 0 auto;*/
	/*left: 21.25%;*/	
	text-align: center;	
	font-size: 19px;	
	width: 900px;
	margin-top: 119px;
	margin-right: auto;
	margin-bottom: 61px;
	margin-left: auto;		
}

.textOnPage2 h2 {
	font-weight: bold;
	font-size: 36px;
	color: #550355;
	margin-bottom: 30px;
}

#headingProjects {
	text-align: center;
	background: #550355;
	color: white;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 40px;
	width: 900px;
}

.mySkills {
	text-align: left;
	color: white;
	font-size: 17px;
	padding: 20px 0;
}

.skill span {
	padding: 2px 5px;
	margin: 5px;
	margin-top: 10px;
	border-radius: 2px;
	display: inline-block;
	
	
	
}
.ProjectGallery {
	width: 918px;
	margin: 0 auto;
	height: 702px;
	/* background: fuchsia; */
} 

.ProjectGallery2 {
	height: 468px;
}

/* .ProjectGalleryThreeElements {
	height: 234px;
} */

/* .ProjectGallerySixElements {
	height: 468px;
} */

.projectName {
	position: relative;
	display: block;; 
	float: left; 
	width: 288px;
	height: 216px;
	margin: 9px;
	padding: 20px;	
	background: rgb(209, 209, 103);
	color: blue; 	
	text-align: right;
	font-size: 1.4em;
	font-weight: bold;	
}

/* .ProjectGallery div.projectName2 {
	background-image: url(../images/backgroundRailwaysite.png);
	background-size: cover;	
	color: black;
}

.ProjectGallery div.projectName3 {
	background-image: url(../images/backgroundBirthdaySite.png);
	background-size: cover;	
	color: red;
} */
.projectName span {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px 5px;
	margin-bottom: 5px;
	color: white;
	font-size: 13px;	
	border-radius: 2px;
}

.toCodeButton {
	position: absolute;
	top: 170px;
	left: 130px;
	width: 140px;
	color: white;	
	background: blue;	
	text-align: center;
	padding: 5px;	
}

.toDemoButton {
	position: absolute;
	top: 120px;
	left: 130px;
	width: 140px;	
	padding: 5px;
	color: white;
	background: blue;	
	text-align: center;
}

.ClientReferenceTextArea {
	position: relative;
	height: 456px;
	margin-top: 120px;
	margin-bottom: 120px;
	background-image: url(../images/bg-holz.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.ClientReferenceText {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/* background: orange; */
	color: white;	
	transform: translateY(-50%);	
	text-align: center;	
	font-size: 19px;	
}

.ClientReferenceText h2 {
	font-size: 36px;
}

.lastText {
	width: 900px;
	margin-top: 120px;
	margin-bottom: 60px;
	text-align: center;
	font-size: 19px;
	margin-left: auto;
	margin-right: auto;
}

.lastText h2 {
	color: #550355;
	font-size: 36px;
}

.footer {
	background-color: rgb(55, 90, 90);
	color: white;
	font-size: 17px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 20px;
	
	margin-top: 120px;
}

.footerContent {
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

.address {
	text-align: left;
	float: left;
}

.impressum {
	text-align: right;
	
}

.impressum a {
	text-decoration: none;
	color: white;
}

.MondholzFirstPage {
	height: 100vh;
	margin: 0px;
	position: relative;
	background-color: rgb(55, 90, 90);	
}

.MondholzText {
	/*position: absolute; 
	left: 0px;
	right: 0px;*/
	width: 900px;
	padding-top: 190px;
	padding-bottom: 60px;
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
}

.MondholzText h2 {
	font-size: 36px;
	color: rgb(140, 185, 65);
}

.MondholzText p {
	font-size: 19px;
	color: white;
}

.rotate180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate90 {
	-webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
	transform: rotate(90deg);
	width: 288px;
	height: 216px;
}


